[include]
    path = .gitconfig_local
[init]
	defaultBranch = main
[core]
	editor = nvim
[color]
	ui = auto
[alias]
	lg = log --graph \
             --abbrev-commit \
             --decorate \
             --format=format:'%C(bold blue)%h%C(reset) %C(white)%s%C(reset) %C(green)- %an%C(reset) %C(dim white)(%ar)%C(reset)%C(bold yellow)%d%C(reset)' --all
